@model ProjectLinx.Presentation.ViewModels.UsuarioViewModel

@{
    ViewBag.Title = "Editar usuário";
}
<link rel="stylesheet" href="~/css/Usuario/Edit.css">

<div class="row">
    <div class="col-md-12">
        <div class="title-pages">Editar usuário</div>
    </div>
</div>

<form asp-action="Edit" asp-controller="Usuario" method="POST">
    <input type="hidden" asp-for="UsuarioId" />
    <partial name="Form">
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Usuario/Edit.js"></script>
